
.header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.80)), url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-text p{
   
    color: #fff;
}

.text-area{
    font-size: 80px;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bold;
}
.text-area span{
    color: #cd2637;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 3s forwards;
}


.text-area span{
    display: inline-block;
}
.text-area span:nth-of-type(2){
    animation-delay: .1s;
}
.text-area span:nth-of-type(3){
    animation-delay: .2s;
}
.text-area span:nth-of-type(4){
    animation-delay: .3s;
}
.text-area span:nth-of-type(5){
    animation-delay: .4s;
}
.text-area span:nth-of-type(6){
    animation-delay: .5s;
}
.text-area span:nth-of-type(7){
    animation-delay: .6s;
}
.text-area span:nth-of-type(8){
    animation-delay: .7s;
}
@keyframes animate{
    30%{
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    60%{
        transform: translate(0, 20px) rotate(0deg) scale(.8);
    }
    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}


@media (max-width:600px) {
 .banner-text p{
    display: none;
 }  
 
 .text-area{
    font-size: 50px;
 }
}

.styles:hover{
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
    transition: all ease-in-out .4s;
    
}